:root{
    --primaryColor: #983a42;
    --dark: #313131;
    --gray: #717171;
}
body{
    padding:0;
    margin:0;
}
#header{
    /* padding-top:30px; */
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    /* border:1px solid #ccc; */
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    padding-bottom: 10px;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
}
#header .logo{
    height: 100px;
    padding-top:5px;
}
#header .desktopMenus{
    display: flex;
    justify-content: space-between;
    padding-top:50px;

}

#header .desktopMenus .menu{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    position: relative;
    color: var(--dark);
    line-height: 1.2;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-decoration: none;
    padding-left: 50px;
    margin-left:45px;

}
/* ?menu ::before */
#header .desktopMenus .menu:hover{
    color: var(--primaryColor);
}
#header .desktopMenus .menu:not(:first-child)::before{
    content: '';
    display: inline-block;
    height: 43px;
    width: 2px;
    background-color: #e6e6e6;
    position: absolute;
    top: -14px;
    left: 0px;

    transform: rotate(29deg);
}
#vail{
    height:20px;
    background-color: white;
    width:100%;
    margin-top: -5px;
    position: relative;
    z-index:100;
    /* border: 1px solid #ccc; */
}

#hero{
    display: flex;
    justify-content: space-between;
    height: 700px;
    margin-top:20px;
    padding: 100px;

}
#hero .text{
    width: 70%;
    height: 100%;
    position: relative;
    padding-left:50px;
    padding-right: 200px;
    align-items: center;
    display: table-cell;
}
#hero .textContainer{
    padding: 40% 20% 10% 6%;
    font-family:  Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-weight: 700;
    font-size: 46px;
    line-height:1.3;
    /* line-height: 1.3; */
}
#hero .text .white{
    color: white;
    width: max-content;
    display: inline-block;
}
#hero .text .black{
    color: var(--dark);
    width: max-content;
    display: inline-block;
}
#hero .text .amberson{
    background-color: white;
    color: var(--gray);
    width: 50px;
    height: 50px;
    font-size:50px;
    line-height:1;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
}

#hero .description{
    width: 30%;
    /* height: 100%; */
    padding:20px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#hero .description .title{
    line-height: 1.75;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
}
#hero .description .content{
    margin-top: 40px;
}
#hero .description .circleIconHolder{
    background-color: var(--dark);
    width:25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}
#hero .description .circleIconHolder:hover{
    background-color: var(--primaryColor);
}
#hero .description .phone, #hero .description .email{
    color: var(--primaryColor);
}
#servicesholder{
    padding: 100px;
    padding-top: 0;
    margin-top: 20px;
    text-align: center;
}
#servicesholder>.title{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.75;
    padding-top:120px;
    padding-bottom:50px;
}
#services{
    margin-top: 15px;
    display: grid;
    row-gap: 50px ;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
}
#services .servicecard{
    height: 250px;
    background-color: var(--dark);
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    background-blend-mode:screen;
    background-color: grey;
    background-size: cover;
    background-position: center center;
    transition:all 0.5s;
    font-size: 30px;
    cursor: pointer;
}
/* on hover zoom background image */
#services .servicecard:hover{
    background-size: 110%;
    background-position: center;
    /* font-size: 35px; */
}
#services .servicecard .servicecardText{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;

    line-height: 1.75;
    color: white;
    filter: brightness(10%)
}
#footer{
    height: 100px;
    background-color: var(--primaryColor);
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#notFound{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


#portfolioholder .title{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    
    
    text-align: left;
}
#portfolioholder .titleHolder{
    padding-top:120px;
    padding-bottom:50px;
    display:flex;
    justify-content: left;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.75;
    
}
#portfolioholder .titleHolder .add{
    height: 40px;
    border-radius: 10px;
    box-shadow: inset 0 0px 0 1px var(--primaryColor); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    margin-left: 20px;
    padding: 0 10px;
}
#portfolioholder .titleHolder i,#portfolioholder .titleHolder span{
    color: var(--primaryColor);
    transition: all 0.5s;
    font-size: 20px;
    line-height: 1;
}
#portfolioHolder .newPostForm{
    box-shadow: 1px solid #ccc;
    border-radius: 10px;
    width: 350px;
    padding: 20px;
}
#portfolioholder .titleHolder .add:hover{
    background-color: white;
    color: var(--primaryColor);
    background-color: var(--primaryColor);
    
}
#portfolioholder .titleHolder .add:hover i, #portfolioholder .titleHolder .add:hover span{
    color: white;
}
#portfolioholder{
    width:900px;
    margin:0 auto;

}
#portfolios{
    display: grid;
    width: 100%;
    grid-template-columns: 280px 280px 280px;
    row-gap: 30px ;
    column-gap: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
}
#portfolios .portfolio{
    height: 400px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}
#portfolios .portfolio .image{
    height: 180px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-color: grey;
    position: relative;
}
#portfolios .portfolio .image .edit{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
}
#portfolios .portfolio .image .edit:hover{
    background-color: white;
    box-shadow: inset 0 0px 0 1px var(--primaryColor); 
}
#portfolios .portfolio .image .edit:hover i{
    color: var(--primaryColor);
}
#portfolios .portfolio .image .edit i{
    color: white;
    transition: all 0.5s;
}

#portfolios .portfolio .cancel{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
}
#portfolios .portfolio .cancel:hover{
    background-color: white;
    box-shadow: inset 0 0px 0 1px var(--primaryColor); 
}
#portfolios .portfolio .cancel:hover i{
    color: var(--primaryColor);
}
#portfolios .portfolio .cancel i{
    color: white;
    transition: all 0.5s;
}
#portfolios .portfolio .delete{
    position: absolute;
    top: 50px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
}
#portfolios .portfolio .delete:hover{
    background-color: white;
    box-shadow: inset 0 0px 0 1px var(--primaryColor); 
}
#portfolios .portfolio .delete:hover i{
    color: var(--primaryColor);
}
#portfolios .portfolio .delete i{
    color: white;
    transition: all 0.5s;
}
#portfolios .portfolio .content{
    width: 100%;
    height: calc(100% - 150px);
    border-radius: 0 0 15px 15px;
    /* background-color:antiquewhite; */
    position: relative;
}
#portfolios .portfolio .content .contact{
    position: absolute;
    top: -20px;
    width: 100%;
    height: 40px;
    /* border: 1px solid #ccc; */
    display: flex;
    justify-content: center;
    align-items: center; 
}
#portfolios .portfolio .content .contact .item{
    height: 40px;
    width: 40px;
    /* border: 1px solid #ccc; */
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--primaryColor);
    transition: all 0.5s;
}
#portfolios .portfolio .content .contact .item a{
    font-size: 20px;
    color: white;
    transition: all 0.5s;
    text-decoration: none;
    /* border: */
}
#portfolios .portfolio .content .contact .item:hover{
    background-color: white;
    box-shadow: inset 0 0px 0 1px var(--primaryColor); 
}
#portfolios .portfolio .content .contact .item:hover a{
    color: var(--primaryColor);
}
#portfolios .portfolio .content .head{
    padding:10px;
    border: 1px solid #ccc;
}
#portfolios .portfolio .content .head .name{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    padding-top: 20px;
    text-align: left;
}
#portfolios .portfolio .content .body{
    padding:10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}
#portfolios .portfolio .content .body .line{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
#portfolios .portfolio .content .body .topic{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.75;
    font-weight: 700;

}
#portfolios .portfolio .content .more{
    display: inline-block;
    color: var(--primaryColor);
    cursor: pointer;
    transition: all 0.5s;
    position: absolute;
    bottom:20px;
    left: 50%;
    transform: translateX(-50%);
}
#portfolios .portfolio .content .more:hover{
    /* underline */
    text-decoration: underline;

}
/* .multiline */
#portfolios .portfolio .content .body .multiline{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    /* letter-spacing: 0.10em; */
    font-size: 16px;
    line-height: 1.75;
    padding-top: 0px;
    text-align: left;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
#portfolios .portfolio .content .body .multiline .more{
    display: inline-block;
    color: var(--primaryColor);
    cursor: pointer;
    transition: all 0.5s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}
#portfolios .portfolio .content .body .multiline .more:hover{
    color: var(--primaryColor);
    text-decoration: underline;
}

#login{
    border:1px solid #ccc;
    min-height: 500px;
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    margin-bottom: 100px;
}
#login .title{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.75;
    padding-top:20px;
    padding-bottom:18px;
    text-align: center;
}
#login .inputHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
#login .form label{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.75;
    text-align: left;
}
#login .form input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    height: 30px;
}
#login .form input[type="submit"]{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    height: 50px;
    background-color: var(--primaryColor);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
#login .form input[type="submit"]:hover{
    background-color: white;
    color: var(--primaryColor);
    box-shadow: inset 0 0px 0 1px var(--primaryColor); 
}

#login .iconsHolder .orHolder{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.75;
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: white;
    /* border: 1px solid #ccc;
    border-radius: 3px; */
    text-align: center;
}
#login .iconsHolder .orHolder::before{
    content: '';
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* z-index */
}
#login .iconsHolder .orHolder::after{
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    /* background-color: white; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border:1px solid #ccc;
}
#login .iconsHolder .orHolder .or{
    display: inline-block;
    background-color: white;
    position: relative;
    z-index: 100;
    width: max-content;
    color: #ccc;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    line-height: 30px;
}
#login .iconsHolder .icons{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#login .iconsHolder .icons .icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 0 0px 0 1px var(--primaryColor);
    transition: all 0.5s;
}
#login .iconsHolder .icons .icon:hover{
    background-color: var(--primaryColor);
    box-shadow: inset 0 0px 0 1px white;
}
#login .changeStateHolder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    align-items: center;
}
#login .changeStateHolder .stateText{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.75;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
#login .changeStateHolder .stateText:hover{
    color: var(--primaryColor);
}

#notify{
    position: fixed;
    top: 150px;
    left: 50%;
    width: 350px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 15px rgba(0,0,0,0.1);
    transition: all 0.5s;
    transform: translate(-50%,-50%);
}
#notify.success{background-color: rgb(26, 228, 26);}
#notify.danger{background-color: rgb(228, 26, 26);}
#notify.warning{background-color: rgb(228, 228, 26);}
#notify.info{background-color: rgb(26, 26, 228);}


.editForm{
    margin: auto;
}
.editForm .title{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.75;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}
.editForm .editHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.editForm label{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.75;
    text-align: left;
}
.editForm input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    font-size: 13px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    height: 20px;
}
.editForm input[type="submit"]{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    font-size: 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    height: 30px;
    background-color: var(--primaryColor);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
.editForm input[type="submit"]:hover{
    background-color: white;
    color: var(--primaryColor);
    box-shadow: inset 0 0px 0 1px var(--primaryColor); 
}



/* .position-relative d-flex justify-content-center align-items-center cursor-pointer */
.cross{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.design-cross>.first,.design-cross>.second{
    position: absolute;
    content: ' ';
    background-color: var(--primaryColor);

    /* width: 2px; */
}
.design-cross>.first {
    transform: rotate(45deg);
}
.design-cross>.second {
    transform: rotate(-45deg);
}
.design-cross {
    position: absolute;
    /* width: 32px;
    height: 32px; */
    opacity: 1;
    transition: 0.1s;
}
.design-cross:hover{
  opacity: 1;
}

#blog{
    width: 100vw;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

#blog .content{
    width: 500px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
#blog .content .image{
    width: 100%;
    height: 300px;
    background-color: #ccc;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
#blog .content .title{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.75;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    height: 100px;
}
#blog .content .description{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    letter-spacing: 0.10em;
    font-size: 15px;
    line-height: 1.75;
    text-align: left;
    padding: 10px;
    overflow-y: auto;
    height: calc(100% - 450px);
}
#blog .content .close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: 0.1s;
}


#profile{
    width: 500px;
    min-height: calc(100vh - 100px);
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}
#profile .content{
    width: 300px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    border: 1px solid #ccc;
}
#profile .content .imageHolder{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
#profile .content .image{
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
#profile .content .line{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    /* text-transform: uppercase; */
    /* letter-spacing: 0.10em; */
    font-size: 20px;
    line-height: 1.75;

}
#profile .content .logout{
    margin-top: 30px;
    background-color: var(--primaryColor);
    color: white;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    height: 50px;
    cursor: pointer;
    width: 100%;
    transition: all 0.5s;
}
#profile .content .logout:hover{
    background-color: white;
    color: var(--primaryColor);
    box-shadow: inset 0 0px 0 1px var(--primaryColor); 
}